body {
	margin: 0px;
	background-color: #FFF;
	font-family: Arial, Helvetica, sans-serif;

    font-size: 13px;
	
	padding: 0px;
	margin: 0px;
	text-align: center;
}
p, h1, h2 {
	padding: 0px;
	margin: 0px;
    letter-spacing: 1.5px;;
}
button {
	margin-top:10px; 
}
button {
    background-color: white;
    color: black;
    border: 0px solid #555555;
}

button:hover {
    background-color: #555555;
    color: white;
}
input {
	margin-top:10px; 
}
h1 {
	font-size: 20px;
	font-weight: 600;
	
}
h2 {
	font-size: 18px;
	font-weight: 300;
	
}
.container {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 30px;
}
.examples, .example {
	padding-top: 25px;
}
.examples {
	width:100%;
	text-align: -webkit-center;
}
.example {
	width: 100%;
}
a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}
a:link {
	color: #000;
	
}
a:visited {
    color: #54595f;
}
a:hover {
    color: #e100ff;
}

a:active {
    color: #54595f;
}
.footer {
	padding-top: 50px;
	clear: both;
	width: 100%;
}